<footer class="w-full bg-black text-white py-8 px-12">
    <div class="flex justify-between">
 
        <!-- Categorías -->
        <div class="flex flex-col gap-2">
            <h2 class="text-2xl font-bold tracking-widest mb-1">CATEGORÍAS</h2>
            <a href="#" class="text-sm tracking-widest hover:underline">LIBROS</a>
            <a href="#" class="text-sm tracking-widest hover:underline">EBOOKS</a>
            <a href="#" class="text-sm tracking-widest hover:underline">AUDIOLIBROS</a>
        </div>
 
        <!-- Conócenos -->
        <div class="flex flex-col gap-2">
            <h2 class="text-2xl font-bold tracking-widest mb-1">CONÓCENOS</h2>
            <a href="#" class="text-sm tracking-widest hover:underline">ACERCA DE</a>
            <a href="#" class="text-sm tracking-widest hover:underline">POLÍTICAS</a>
            <a href="#" class="text-sm tracking-widest hover:underline">TÉRMINOS Y CONDICIONES</a>
        </div>
 
        <!-- Redes Sociales -->
        <div class="flex flex-col gap-2">
            <h2 class="text-2xl font-bold tracking-widest mb-1">REDES SOCIALES</h2>
            <a href="#" class="text-sm tracking-widest hover:underline">INSTAGRAM: elgran_lector</a>
            <a href="#" class="text-sm tracking-widest hover:underline">FACEBOOK: El Gran Lector</a>
            <a href="#" class="text-sm tracking-widest hover:underline">TWITTER: @elgranlector</a>
        </div>
 
    </div>
</footer>