---
import FiltroIcon from '../assets/icons/Filtro.astro';
import BusquedaIcon from '../assets/icons/Busqueda.astro';
import UserIcon from '../assets/icons/User.astro';
import InterrogacionIcon from '../assets/icons/Interrogacion.astro';
import MenuIcon from '../assets/icons/Menu.astro';

import LogoImg from '../assets/img/logo.png';
---
<nav class="navbar flex justify-between items-center">
    <div class="nav-logo flex items-center gap-2">
        <figure class="nav-logo-img">
            <img src={LogoImg.src} alt="Logo" class="w-9"/>
        </figure>
        <h1 class="logo-title uppercase flex flex-col text-lg justify-center">
            El Gran <span class="text-primary m-auto">Lector</span>
        </h1>
    </div>

    <div class="nav-busqueda flex items-center gap-10 relative">

        <button id="filtro-btn" class="busqueda-filtro cursor-pointer">
            <FiltroIcon class="w-9 h-9" />
        </button>

        <!-- Dropdown -->
        <div
            style="background: #DBC5D9;"
            id="filtro-dropdown"
            class="hidden absolute top-12 left-0 w-56 border border-neutral-900 rounded-xl shadow-lg z-50"
        >
            <ul class="py-2 px-2 text-sm text-gray-700">

                <!-- LIBROS -->
                <li class="relative group">
                    <button class="w-full flex justify-between items-center px-4 py-2 hover:bg-purple-100 font-semibold rounded-lg">
                        Libros
                        <span class="ml-2">›</span>
                    </button>
                    <ul class="hidden group-hover:block absolute left-full top-0 w-48 border border-neutral-900 rounded-xl shadow-lg px-1 py-1"
                    style="background: #DBC5D9;"
                    >
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Romance</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Historia</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Ciencia Ficción</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Fantasía</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Terror</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Suspenso</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Biografias</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Cientificos</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Cuentos</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Poesía</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Tragedia</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Comedia</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Ilustrados</a></li>
                    </ul>
                </li>

                <!-- EBOOKS -->
                <li class="relative group">
                    <button class="w-full flex justify-between items-center px-4 py-2 hover:bg-purple-100 font-semibold rounded-lg">
                        Ebooks
                        <span class="ml-2">›</span>
                    </button>
                    <ul class="hidden group-hover:block absolute left-full top-0 w-48 border border-neutral-900 rounded-xl shadow-lg px-1 py-1"
                    style="background: #DBC5D9;"
                    >
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Romance</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Historia</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Ciencia Ficción</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Fantasía</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Terror</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Suspenso</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Biografias</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Cientificos</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Cuentos</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Poesía</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Tragedia</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Comedia</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Ilustrados</a></li>
                    </ul>
                </li>

                <!-- AUDIOLIBROS -->
                <li class="relative group">
                    <button class="w-full flex justify-between items-center px-4 py-2 hover:bg-purple-100 font-semibold rounded-lg">
                        Audiolibros
                        <span class="ml-2">›</span>
                    </button>
                    <ul class="hidden group-hover:block absolute left-full top-0 w-48 border border-neutral-900 rounded-xl shadow-lg px-1 py-1"
                    style="background: #DBC5D9;"
                    >
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Romance</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Historia</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Ciencia Ficción</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Fantasía</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Terror</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Suspenso</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Biografias</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Cientificos</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Cuentos</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Poesía</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Tragedia</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Comedia</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Ilustrados</a></li>
                    </ul>
                </li>

                <!-- NO. DE PÁGINAS -->
                <li class="relative group">
                    <button class="w-full flex justify-between items-center px-4 py-2 hover:bg-purple-100 font-semibold rounded-lg">
                        No. de páginas
                        <span class="ml-2">›</span>
                    </button>
                    <ul class="hidden group-hover:block absolute left-full top-0 w-48 border border-neutral-900 rounded-xl shadow-lg px-1 py-1"
                    style="background: #DBC5D9;"
                    >
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Pendiente</a></li>
                    </ul>
                </li>

                <!-- PRECIO -->
                <li class="relative group pb-2">
                    <button class="w-full flex justify-between items-center px-4 py-2 hover:bg-purple-100 font-semibold rounded-lg">
                        Precio
                        <span class="ml-2">›</span>
                    </button>
                    <ul class="hidden group-hover:block absolute left-full top-0 w-48 border border-neutral-900 rounded-xl shadow-lg px-1 py-1"
                    style="background: #DBC5D9;"
                    >
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100 rounded-lg">Pendiente</a></li>
                    </ul>
                </li>

                <!-- Limpiar -->
                <li class="border-t border-neutral-900 pt-2">
                    <a href="#" class="block px-4 py-2 text-red-400 hover:bg-red-50 rounded-lg" >Limpiar filtros</a>
                </li>

            </ul>
        </div>

        <input
            type="text"
            placeholder="Buscar... "
            class="bg-white border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-fuchsia-300"
        />

        <button class="busqueda-btn cursor-pointer">
            <BusquedaIcon class="w-9 h-9" />
        </button>
    </div>

    <div class="perfil flex items-center gap-4">
        <button class="perfil-user cursor-pointer">
            <UserIcon class="w-9 h-9" />
        </button>

        <button class="perfil-interrogacion cursor-pointer">
            <InterrogacionIcon class="w-9 h-9" />
        </button>

        <div class="perfil-menu cursor-pointer">
            <MenuIcon class="w-9 h-9" />
        </div>
    </div>
</nav>

<style>
    .navbar {
        background-color: var(--color-primary);
        padding: 1rem 2rem;
        align-items: center;
        justify-content: space-between;
    }
</style>

<script is:inline>
  const btn = document.getElementById("filtro-btn");
  const dropdown = document.getElementById("filtro-dropdown");

  btn.addEventListener("click", () => {
    dropdown.classList.toggle("hidden");
  });

  document.addEventListener("click", (e) => {
    if (!btn.contains(e.target) && !dropdown.contains(e.target)) {
      dropdown.classList.add("hidden");
    }
  });
</script>